* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
.ctn-main-login {
  min-height: 100vh;
  background-image: url("./bg-nat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-login {
  height: 70px;
  text-align: center;
  color: white;
  font-size: 50px;
}
.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px black;
  min-height: 400px;
  width: 350px;
  border-radius: 18px;
  background-color: rgb(17 24 39 / 64%);
}
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.btn-login {
  margin-top: 50px;
}
.btn-login:hover {
  transition: 0.5s;
}
.btn-login:focus-visible {
  border-radius: 2px white solid;
  transition: 0.5s;
}
.subtitle-login {
  height: 70px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.ctn-main-gestion{
  min-height: 100vh;
  background-color: rgba(24, 68, 165, 0.74);
}
.title-gestion{
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
}
.ctn-accordion{
}
@media only screen and (max-width: 375px) {
  .main-login {
    transition: 0.5s;
    width: 300px;
  }
}
